<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walker.common">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--    悬浮框-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity android:name=".activity.ShowActivity" />
        <activity android:name=".activity.ImagePreviewActivity" />
    </application>
</manifest>
